* {
  margin: 0;
  padding: 0;
}

.header__logo {
  width: 120px;
  height: auto;
}

.card-body .card-text > ul {
  padding-left: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.div__fit-content {
  min-width: fit-content;
}

.credit-card__image {
  width: 60px;
  height: 50px;
  margin: 0px 10px;
}
